-- Script de migración para attendance_time
-- Ejecutar estas consultas en tu base de datos PostgreSQL

-- 1. Crear una columna temporal
ALTER TABLE employee_attendance ADD COLUMN attendance_time_temp TIMESTAMP;

-- 2. Llenar la columna temporal combinando attendance_date y attendance_time
UPDATE employee_attendance 
SET attendance_time_temp = (attendance_date + attendance_time);

-- 3. Eliminar la columna original
ALTER TABLE employee_attendance DROP COLUMN attendance_time;

-- 4. Renombrar la columna temporal
ALTER TABLE employee_attendance RENAME COLUMN attendance_time_temp TO attendance_time;

-- 5. Hacer la columna NOT NULL si es necesario
ALTER TABLE employee_attendance ALTER COLUMN attendance_time SET NOT NULL;

-- 6. Verificar que todo esté correcto
SELECT attendance_date, attendance_time FROM employee_attendance LIMIT 5;
